<div style="margin: 20px">
  <h3>ผู้ใช้งาน</h3>
  <nz-table
    class="table"
    #taoTable
    [nzData]="datalist"
    [nzFrontPagination]="true"
    [nzShowPagination]="true"
    [nzPageSize]="5"
  >
    <thead>
      <tr>
        <th style="font-weight: bold">ลำดับ</th>
        <th style="font-weight: bold">รหัสผู้ใช้งาน</th>
        <th style="font-weight: bold">ชื่อ-นามสกุล</th>
        <th style="font-weight: bold">วันเกิด</th>
        <th style="font-weight: bold">อายุ</th>
        <th style="font-weight: bold">เพศ</th>
        <th style="font-weight: bold">วันที่บันทึก</th>
        <th style="font-weight: bold">บันทึกโดย</th>
        <th>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#formModal"
          >
            <i class="fa-solid fa-plus" style="color: #ffffff"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of taoTable.data; let i = index">
        <td>
          {{ (taoTable.nzPageIndex - 1) * taoTable.nzPageSize + (i + 1) }}
        </td>
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.birthdate | thDate }}</td>
        <td>{{ data.age }}</td>
        <td>{{ data.gender }}</td>
        <td>{{ data.SavedDate | thDate }}</td>
        <td>{{ data.SavedBy }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#formModal"
            (click)="
              setEditData((taoTable.nzPageIndex - 1) * taoTable.nzPageSize + i)
            "
          >
            Edit</button
          >&nbsp;
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#deleteModal"
            (click)="
              setDeleteIndex(
                (taoTable.nzPageIndex - 1) * taoTable.nzPageSize + i
              )
            "
          >
            Del
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<!-- Modal Form -->
<div
  class="modal fade bd-example-modal-lg"
  id="formModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          กรุณากรอกข้อมูลการใช้งาน
        </h5>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group d-flex align-items-center mb-3">
              <label class="mb-0" style="width: 60px">ชื่อ</label>
              <input
                type="text"
                [(ngModel)]="name"
                class="form-control"
                style="flex: 1"
              />
            </div>

            <div class="form-group d-flex align-items-center mb-3">
              <label class="mb-0" style="width: 60px">วันเกิด</label>
              <input
                [(bsValue)]="date1"
                type="text"
                [(ngModel)]="birthdate"
                placeholder="DD/MM/YYYY"
                class="form-control"
                [bsConfig]="{
                  dateInputFormat: 'DD/MM/YYYY',
                  isAnimated: true,
                  showWeekNumbers: false
                }"
                (bsValueChange)="calculateAge($event)"
                readonly
                style="text-decoration: none; background-color: white; flex: 1"
                bsDatepicker
              />
            </div>

            <div class="form-group d-flex align-items-center mb-3">
              <label class="mb-0" style="width: 60px">เพศ</label>
              <select
                class="custom-select"
                [(ngModel)]="gender"
                style="flex: 1"
              >
                <option value="" disabled selected hidden>กรุณาเลือกเพศ</option>
                <option value="ชาย">ชาย</option>
                <option value="หญิง">หญิง</option>
                <option value="ไม่ระบุ">ไม่ระบุ</option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group d-flex align-items-center mb-3">
              <label class="mb-0" style="width: 60px">นามสกุล</label>
              <input
                type="text"
                [(ngModel)]="surname"
                class="form-control"
                style="flex: 1"
              />
            </div>

            <div class="form-group d-flex align-items-center mb-3">
              <label class="mb-0" style="width: 60px">อายุ</label>
              <input
                type="number"
                [(ngModel)]="age"
                class="form-control"
                style="flex: 1"
                readonly
              />
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="clearForm()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="editIndex === null ? addData() : updateData()"
          data-dismiss="modal"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete-->
<!-- Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>ต้องการลบผู้ใช้ "{{ datalist[deleteIndex]?.name }}" ใช่หรือไม่</h5>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="clearForm()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="deleteData()"
          data-dismiss="modal"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
