<!-- Toolbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5093bf;">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
    <div class="text-end" style="  font-family: 'Prompt', 'Sarabun', 'Tahoma', sans-serif;">
      <div class="fw-semibold text-white">ยินดีต้อนรับคุณ T</div>
      <div class="fw-semibold text-white">เวลาปัจจุบัน: {{ currentDate | thDate:true }}</div>
    </div>
  </div>
</nav>
